[client-server]
# Uncomment these if you want to use a nonstandard connection to MariaDB
#socket=/tmp/mysql.sock
#port=3306

# The MariaDB server
[mysqld]
datadir=/opt/mysql/data
tmpdir=/tmp

# Directory for the errmsg.sys file in the language you want to use
language=/root/share/mariadb/english

# networking
skip-networking=0
skip-bind-address

# This is the prefix name to be used for all log, error and replication files
log-basename=mysqld

# Enable logging by default to help find problems
general-log

# rocksdb
#skip-innodb
default-storage-engine=rocksdb
#default-tmp-storage-engine=MyISAM

[mariadb]
#plugin_load_add = ha_rocksdb
