name: Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/edgelesssys/edgelessrt-dev:nightly
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Test
        run: go test ./...

      - name: Setup Build Environment
        run: |
          mkdir build
          apt-get update
          apt-get install -y libncurses5-dev libcurl4-openssl-dev bison liblz4-dev bbe

      - name: Build
        run: |
          cmake ..
          make -j`nproc`
        working-directory: build

      - name: Integration Test
        run: OE_SIMULATION=1 go test -v -tags integration ./edb -e ../build/edb

      # - name: Deploy emariadb:nightly
      #   if: github.ref == 'refs/heads/main' &&
      #     github.event_name == 'push'
      #   run: |
      #     curl -X POST -H "Accept: application/vnd.github.v3+json" \
      #     -H "Authorization: token ${{ secrets.CI_GITHUB_REPOSITORY }}" \
      #     -d '{"event_type": "docker-build",
      #         "client_payload":{"repository":"edb",
      #                           "sign":"nightly",
      #                           "imagename":"emariadb",
      #                           "tag":"nightly",
      #                           "file": "dockerfiles/Dockerfile.emariadb",
      #                           "target":"release"}}' \
      #     https://api.github.com/repos/edgelesssys/deployment/dispatches

      # - name: Deploy edb:nightly
      #   if: github.ref == 'refs/heads/main' &&
      #     github.event_name == 'push'
      #   run: |
      #     curl -X POST -H "Accept: application/vnd.github.v3+json" \
      #     -H "Authorization: token ${{ secrets.CI_GITHUB_REPOSITORY }}" \
      #     -d '{"event_type": "docker-build",
      #         "client_payload":{"repository":"edb",
      #                           "sign":"nightly",
      #                           "imagename":"edb",
      #                           "tag":"nightly",
      #                           "file": "dockerfiles/Dockerfile.edb",
      #                           "target":"release"}}' \
      #     https://api.github.com/repos/edgelesssys/deployment/dispatches
